<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyRKnlq5ekYwgH5YcEr9j7qEAOI5Y9Y6g</string>
	<key>GCM_SENDER_ID</key>
	<string>1075780627220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nakamaLaundry</string>
	<key>PROJECT_ID</key>
	<string>launderland-8a09b</string>
	<key>STORAGE_BUCKET</key>
	<string>launderland-8a09b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075780627220:ios:fbecc01204c6bb4c067001</string>
</dict>
</plist>